In [4]:
s="soumi"
sl=list(s)
print(str((sl[::-1])))

['i', 'm', 'u', 'o', 's']

In [5]:
def greetings():
  print("Welcome to python tutorial by soumi")
greetings()

Welcome to python tutorial by soumi

In [8]:
def add2numbers(a,b):
  result = a+b
  print("The sum is", result)
add2numbers(a=2,b=8)

The sum is 10

In [12]:
def add3numbers(a,b,c):
  result = a+b+c
  print("The sum is ", result)
add3numbers(1,4,2)

The sum is  7

In [14]:
name="soumi"
age=23

print("My name is {0} and I'm {1}".format(name, age))

My name is soumi and I'm 23

In [15]:
name2= "soumi"
print(name2[::-1])

imuos

In [16]:
def reverse(n):
  return n[::-1]
reverse("soumi")

'imuos'

In [19]:
#print numbers from 1 to 5 using while loop
count = 1
while count <6:
  print(count)
  count+=1

1
2
3
4
5

In [21]:
n=5
for i in range(1, n+1):
  print("*"*i)

*
**
***
****
*****

In [28]:
#code to print inverted triangle
n=5
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*", end = " ")
  print()

for i in range(n,0,-1):
  print("*" * i,)

* * * * *
* * * *
* * *
* *
*
*****
****
***
**
*